@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;600;700&display=swap');

/*-----------Reset-----------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}




/*Header*/

.navbar-brand img{
    height: 100px;
    width: 100px;
}


.navbar-brand h1 {
    color: rgb(105, 104, 87);
    display: inline-block;
    font-size:xx-large ;
    font-weight: 40px;
    font-family: 'Alkatra', cursive;
}

header nav{
    background-color: rgb(41, 34, 34);
}


.navbar-toggler{
    background-color: rgba(255, 235, 205, 0.404);
}


.dropdown{
    padding: 0.5rem 1rem;
}

.dropdown-toggle {
    color: blanchedalmond;
    font-family: 'Alkatra', cursive;
    transition: 1s;
}

.dropdown-menu{
    background-color: rgb(83, 78, 78);
    transition: 1s;
}

.dropdown-item{
    color: rgba(255, 235, 205, 0.733);
    font-family: 'Alkatra', cursive;
    text-align: center;
    transition: 1s;
}


.nav-item{
    padding: 0.5rem 1rem;
}

.active{
    color: rgba(255, 235, 205, 0.733);
    font-family: 'Alkatra', cursive;
    transition: 1s;
}

.d-flex button{
    color: blanchedalmond;
    font-family: 'Alkatra', cursive;
    border: solid 0.1rem blanchedalmond;
}

.d-flex input{
    border: solid 0.3rem rgb(129, 114, 91);
    transition: 1s;
}



/*PSEUDOCLASES Y PSEUDO ELEMENTOS*/

.dropdown-item:hover{
    color: rgb(117, 81, 33);
    font-size: 1.4rem;
    background-color:  rgba(255, 235, 205, 0.651);
}

.dropdown-toggle:hover{
    color: rgb(255, 193, 111);
    font-size: 1.1rem;
}

.active:hover{
    color: rgb(255, 193, 111);
    font-size: 1.1rem;
}

.dropdown-menu:hover{
        border: solid rgba(255, 235, 205, 0.541);
}

.d-flex button:hover{
    background-color: rgb(167, 103, 6);
    font-family: 'Alkatra', cursive;
    border: solid 0.1rem blanchedalmond;
}

.d-flex input:focus{
    border: solid 0.3rem rgb(223, 172, 96);
}


/*flexbox del header*/


.header-contenedor div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.div-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}




/*----------------Main del index---------------*/

main{
    background-color: rgb(41, 34, 34);
}



/* Hero section*/


.hero-section{
    background-image: url(../img/terrarios-sacados-de-la-web/pexels-max-rahubovskiy-8082555.jpg);
    height: 750px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    text-align: center;
    background-attachment: fixed;
}


.hero-section div h2 {
    color: rgba(169, 169, 169, 0.664);
    font-size: 65px;
    font-family: 'Alkatra', cursive;
    display: inline-block;
    margin: 10px 5px 10px 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color:rgba(0, 0, 0, 0.507);
    border-radius: 18%;
}

.hero-section p{
    color: rgba(0, 0, 0, 0.678);
    font-size: 40px;
    font-family: 'Alkatra', cursive;
    display: inline-block;
    margin: 10px 5px 10px 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(169, 169, 169, 0.664);
}



/*Flexbox del Hero Section*/

.hero-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




/* Menu con imagenes */


.menu-con-imagenes div div{ 
    width: 400px;
    height: 600px;
    position: relative;
    margin: 20px 5px 20px 5px;
    display: inline-block;
}

.menu-con-imagenes div div a img { 
    width: 100%;
    height: 100%;
    box-shadow: 9px 11px 17px 4px rgba(0,0,0,0.67);
-webkit-box-shadow: 9px 11px 17px 4px rgba(0,0,0,0.67);
-moz-box-shadow: 9px 11px 17px 4px rgba(0,0,0,0.67);
}

.menu-con-imagenes div div a h2{
    position:absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Alkatra', cursive;
    margin-bottom: 0;
}






/* Menu con imagenes-final */






.menu-con-imagenes-final div div{
    width: 400px;
    height: 600px;
    position: relative;
    margin: 20px 5px 20px 5px;
    display: inline-block;
}

.menu-con-imagenes-final div div a img { 
    width: 100%;
    height: 100%;
}

.menu-con-imagenes-final div div a h2{
    position:absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Alkatra', cursive;
}




/* Color del texto interno del menu con imagenes */


.tienda-y-acerca-de {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.527);
}

.galeria-y-trabaja{
    color: black;
    background-color: rgba(245, 245, 245, 0.582);
}





/*Flexbox del menu con imagenes*/

.div-contenedor-1 {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 5px 10px 5px;
}

.div-contenedor-2{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 5px 20px 5px;
}



/*----------------Main de la tienda---------------*/

/*Titulo de la tienda*/

.tienda-titulo div h2{
    color: whitesmoke;
    font-family: 'Alkatra', cursive;
    background-color: rgba(0, 0, 0, 0.274);
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    font-size: 65px ;
    font-weight: 40px;
    border-radius: 20%;
}

.tienda-titulo div p{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    font-family: 'Alkatra', cursive;
    background-color: rgba(0, 0, 0, 0.274);
    color: whitesmoke;
    border-radius: 20%;
}


.tienda-titulo{
    background-image: url(../img/terrarios-sacados-de-la-web/nielsen-ramon-okvqMfl78YE-unsplash.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    text-align: center;
    background-attachment: fixed;
}

/*FLEXBOX DE .TIENDA-TITULO*/

.tienda-titulo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



/*Section de los terrarios en venta*/

/*CSS GENERAL*/



/*  DESCRIPCION-TIENDA  */

.descripcion-tienda{
    width: 100%;
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.descripcion-tienda h3{
    color:darkkhaki;
    font-family: 'Alkatra', cursive;
    margin: 20px 20px 20px 20px;
    font-size: 50px ;
    font-weight: 40px;
}

.descripcion-tienda a{
    color: blanchedalmond;
    font-family: 'Alkatra', cursive;
    font-size: 2rem;
    width: 20%;
    transition: 0.8s;
}

.descripcion-texto-tienda{
    color:burlywood;
    font-family: 'Alkatra', cursive;
    font-size: 1.3rem ;
}

.precio{
    color:rgb(0, 0, 0);
    background-color: rgba(240, 248, 255, 0.61);
    font-family: 'Alkatra', cursive;
    font-size: 2rem ;
    transition: 1s;
}








/*  IMAGENES-TIENDA  */

.imagenes-tienda{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagenes-tienda div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenes-tienda div img{
    width: 90%;
    height: 90%;
    transition: 1s;
}







/*  IMAGENES-TIENDA-JUG  */


.imagenes-tienda-jug{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.imagenes-tienda-jug div img{
    width: 90%;
    height: 90%;
    padding-bottom: 5%;
    padding-top: 5%;
    transition: 1s;
}


/*   JUG-IMAGENES (1 Y 2)   */


.jug-imagenes-1 {

    display: flex;
    align-items: center;
    flex-direction: column;
}

.jug-imagenes-2{
    display: flex;
    align-items: center;
    flex-direction: column;
}





/*  IMAGENES-TIENDA-LOW-VASE  */


.imagenes-tienda-low-vase{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.imagenes-tienda-low-vase div img{
    width: 90%;
    height: 90%;
    padding-bottom: 5%;
    padding-top: 5%;
    transition: 1s;
}


/*   LOW-VASE-IMAGENES (1 Y 2)   */


.low-vase-imagenes-1{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.low-vase-imagenes-2{
    display: flex;
    align-items: center;
    flex-direction: column;
}




/*CLASES ESPECIFICAS PARA CADA SECTION*/

.terrario-jar{
    margin: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}





.terrario-jug{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}






.terrario-low-vase{
    margin: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}






.terrario-cylinder{
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}


/*PSEUDOCLASES Y PSEUDO ELEMENTOS*/

.descripcion-tienda a:hover {
    color: rgb(95, 57, 26);
    background-color: rgba(250, 224, 185, 0.863);
    border-radius: 50%;
}

.imagenes-tienda img:hover{
    width: 100%;
    height: 100%;
}

.imagenes-tienda-jug img:hover{
    width: 100%;
    height: 100%;
}


.imagenes-tienda-low-vase img:hover{
    width: 100%;
    height: 100%;
}

.descripcion-tienda h3::selection{
    background-color: rgba(210, 105, 30, 0.829);
    color: rgba(240, 248, 255, 0.274);
}


.descripcion-tienda p::selection{
    background-color: rgba(210, 105, 30, 0.829);
    color: rgba(240, 248, 255, 0.274);
}



/*----------------Main de la galeria---------------*/



/*Titulo de la galeria*/

.galeria-titulo div h2{
    color: whitesmoke;
    font-family: 'Alkatra', cursive;
    background-color: rgba(0, 0, 0, 0.274);
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    font-size: 65px ;
    font-weight: 40px;
    border-radius: 20%;
}

.galeria-titulo div p{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    font-family: 'Alkatra', cursive;
    background-color: rgba(0, 0, 0, 0.274);
    color: whitesmoke;
    border-radius: 20%;
}


.galeria-titulo{
    background-image: url(../img/terrarios-sacados-de-la-web/pexels-cottonbro-studio-4507714.jpg);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    text-align: center;
    background-attachment: fixed;
}


/*Flexbox de la tienda*/

.galeria-titulo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


/*-----------------IMAGENES-GALERIA-------------*/

.galeria-img{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 15px;
    flex-direction: row;
}


.galeria-contenedor-padre{
    background-color: rgba(148, 132, 107, 0.096);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.galeria-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: 'Alkatra', cursive;
}

.galeria-texto h2{
    color: beige;
    font-size: 2.5rem;
    padding: 15px;
    transition: 1s;
}

.galeria-texto p{
    color: beige;
    font-size: 1.2rem;
    padding: 20px;
    transition: 1s;
}

.div-contenedor-img{
    grid-column: 2 / 4;
    padding: 20px ;
}


.grid-galeria{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 460px 460px 460px 460px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 20px;
}



.grid-galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 9px 11px 17px 4px rgba(0,0,0,0.67);
-webkit-box-shadow: 9px 11px 17px 4px rgba(0,0,0,0.67);
-moz-box-shadow: 9px 11px 17px 4px rgba(0,0,0,0.67);
}


.video-ampliado{
    width: 100%;
    height: 100%;
    grid-column: 2 / 4;
    box-shadow: 9px 11px 17px 4px rgba(0,0,0,0.67);
-webkit-box-shadow: 9px 11px 17px 4px rgba(0,0,0,0.67);
-moz-box-shadow: 9px 11px 17px 4px rgba(0,0,0,0.67);
}

.video-no-ampliado{
    width: 100%;
    height: 100%;
    box-shadow: 9px 11px 17px 4px rgba(0,0,0,0.67);
-webkit-box-shadow: 9px 11px 17px 4px rgba(0,0,0,0.67);
-moz-box-shadow: 9px 11px 17px 4px rgba(0,0,0,0.67);
}

.imagen-colum2{
    grid-column: 1 / 3;
}



/*Video demostrativo*/


.video-demostrativo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-family: 'Alkatra', cursive; 
}

.video-demostrativo h2{
    font-size: 3rem;
    font-weight: 3rem;
    color: rgba(169, 169, 169, 0.664);
}

.video-demostrativo iframe{
    box-shadow: -12px 10px 23px 8px rgba(0,0,0,0.7);
-webkit-box-shadow: -12px 10px 23px 8px rgba(0,0,0,0.7);
-moz-box-shadow: -12px 10px 23px 8px rgba(0,0,0,0.7);
}




/*PSEUDOCLASES Y PSEUDO ELEMENTOS*/


.galeria-texto h2:hover{
    font-size: 3rem;
}


.galeria-texto p:hover{
    font-size: 1.6rem;
}


.galeria-texto h2::selection{
    background-color: rgba(210, 105, 30, 0.829);
    color: rgba(240, 248, 255, 0.274);
}

.galeria-texto p::selection{
    background-color: rgba(210, 105, 30, 0.829);
    color: rgba(240, 248, 255, 0.274);
}



/*----------------Main de acerca de---------------*/

header{
    grid-area: header;
}

main{
    grid-area: main;
}

.acerca-de-titulo{
    background-image: url(../img/terrarios-sacados-de-la-web/acerca-de-3.jpg);
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    text-align: center;
    background-attachment: fixed;
}


.acerca-de-titulo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contenedor-padre-acercade1{
    background-color: rgba(0, 0, 0, 0.219);
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "texto1 imagen1";
    align-items: center;
    justify-content: center;
}


.contenedor-padre-acercade2{
    background-color: rgba(0, 0, 0, 0.219);
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "imagen2 texto2";
    align-items: center;
    justify-content: center;
}





/*TEXTO ACERCA DE*/



.acerca-de-titulo div h2{
    color: whitesmoke;
    font-family: 'Alkatra', cursive;
    background-color: rgba(0, 0, 0, 0.274);
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    font-size: 65px ;
    font-weight: 40px;
    border-radius: 20%;
}

.acerca-de-titulo div p{
    color: whitesmoke;
    font-family: 'Alkatra', cursive;
    background-color: rgba(0, 0, 0, 0.274);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    font-size: 20px ;
    font-weight: 15px;
    border-radius: 20%;
}





/*TEXTO CONTENEDOR ACERCA DE */




.contenedor-acercade-texto1{
    width:100%;
    height: 100%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Alkatra', cursive;
    grid-area: texto1;
}


.contenedor-acercade-texto1 h3{
    font-size: 3rem;
    padding: 15px;
    text-shadow: 3px 4px 2px rgba(215,213,124,0.55);
}


.contenedor-acercade-texto1 p{
    font-size: 1.5rem;
    padding: 20px;
    text-shadow: 3px 4px 2px rgba(215,213,124,0.55);
}






.contenedor-acercade-texto2{
    width:100%;
    height: 100%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Alkatra', cursive;
    grid-area: texto2;
}


.contenedor-acercade-texto2 h3{
    font-size: 3rem;
    padding: 15px;
    text-shadow: 3px 4px 2px rgba(215,213,124,0.55);
}


.contenedor-acercade-texto2 p{
    font-size: 1.5rem;
    padding: 20px;
    text-shadow: 3px 4px 2px rgba(215,213,124,0.55);
}



/*CONTACTANOS TEXTO */



.contactanos-texto div h4{
    color: whitesmoke;
    font-family: 'Alkatra', cursive;
    text-align: center;
    font-size: 3rem;
    font-weight: 1rem;
    text-shadow: 3px 4px 2px rgba(0,0,0,0.55);
}

.contactanos-texto div p{
    color: whitesmoke;
    font-family: 'Alkatra', cursive;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 0.5rem;
    text-shadow: 3px 4px 2px rgba(0,0,0,0.55);
}

.contactanos-texto div a{
    display: inline-block;
    align-items: center;
}



/*CONTENEDOR UBICACION */



.contenedor-ubicacion h3{
    color: whitesmoke;
    font-family: 'Alkatra', cursive;
    text-align: center;
    font-size: 3rem;
    font-weight: 1rem;
    text-shadow: 3px 4px 2px rgba(0,0,0,0.55);
}



.contenedor-ubicacion p{
    color: whitesmoke;
    font-family: 'Alkatra', cursive;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 0.5rem;
    text-shadow: 3px 4px 2px rgba(0,0,0,0.55);
}

.contenedor-ubicacion iframe{
    display: block;
    margin: 0 auto;
}


/*IMAGENES ACERCA DE*/


.contenedor-acercade-imagen1{
    grid-area: imagen1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-acercade-imagen2{
    grid-area: imagen2;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedor-acercade-imagen1 img{
    width: 70%;
    height: 70%;
    padding: 10px;
}

.contenedor-acercade-imagen2 img{
    width: 70%;
    height: 70%;
    padding: 10px;
}



/*-----*/


.acercade-grid-3{
    background-color: rgba(0, 0, 0, 0.274);
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    display: grid

}

.contactanos-texto{
    grid-area: contactanos;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactanos-texto div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-ubicacion{
    grid-area: ubicacion;
    display: flex;
    flex-direction: column;
}







/*----------------Main de trabaja con nosotros---------------*/


.trabaja-con-nosotros{
    background-image: url(../img/terrarios-sacados-de-la-web/pexels-cottonbro-studio-4507713.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    text-align: center;
    background-attachment: fixed;
    
}



.trabaja-con-nosotros h2{
    color: whitesmoke;
    font-family: 'Alkatra', cursive;
    background-color: rgba(0, 0, 0, 0.274);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    font-size: 65px ;
    font-weight: 40px;
    border-radius: 20%;
}


.trabaja-con-nosotros p{
    color: whitesmoke;
    font-family: 'Alkatra', cursive;
    background-color: rgba(0, 0, 0, 0.274);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    font-size: 35px ;
    font-weight: 10px;
    border-radius: 20%;
}


.trabaja-con-nosotros form{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    font-family: 'Alkatra', cursive;
    background-color: rgba(0, 0, 0, 0.274);
    color: whitesmoke;
}

.trabaja-con-nosotros form div input{
    outline: none;
    transition: 1s;
}

.trabaja-con-nosotros form div textarea{
    outline: none;
    transition: 1s;
}


/*Flexbox de la tienda*/

.trabaja-con-nosotros{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



/*PSEUDOCLASES Y PSEUDO ELEMENTOS*/


.formulario-trabaja input:focus{
    border: 3.5px solid  rgb(210, 105, 30);
    border-radius: 50px;
}


.formulario-trabaja div textarea:focus{
    border: 3.5px solid  rgb(210, 105, 30);
    border-radius: 50px;
}




/* Footer */

footer{
    grid-area: footer;
    background-color: rgb(41, 34, 34);
    padding-top: 30px;
}

footer div a img{
    width: 50px;
    height: 50px;
    transition: 1s;
}
footer p{
    font-family: 'Alkatra', cursive;
    font-size: 30px;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(236, 236, 212, 0.55);
    margin-bottom: 0;
    padding-bottom: 0.5rem;
}

footer div a img{
    padding: 10px;
}

/*Flexbox Footer*/


footer div{
    display: flex;
    justify-content: center;
}

footer div a img:hover{
    width: 80px;
    height: 80px;
}


/*-------------------MEDIAQUARY GENERAL-------------------*/ 


/*INDEX*/


@media screen and (max-width:950px){


    .hero-section{
        height: 450px;
        width: 100%;
    }
    
    
    .hero-section div h2 {
        font-size: 45px;
    }
    
    .hero-section p{
        font-size: 20px;
    }



    .div-contenedor-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .div-contenedor-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:550px){


    .hero-section{
        height: 350px;
        width: 100%;
    }


    /* Menu con imagenes */


    .menu-con-imagenes div div{ 
    width: 300px;
    height: 450px;
    }



/* Menu con imagenes-final */




    .menu-con-imagenes-final div div{
    width: 300px;
    height: 450px;
    }

}



/*TIENDA*/

@media screen and (max-width:950px){
    /*Titulo de la tienda*/

.tienda-titulo div h2{
    font-size: 45px ;
    font-weight: 20px;
    border-radius: 20%;
}



.tienda-titulo{
    height: 350px;
    width: 100%;
}


/*  DESCRIPCION-TIENDA  */


.descripcion-tienda h3{
    font-size: 50px ;
    font-weight: 40px;
}

.descripcion-tienda a{
    font-size: 2rem;
    width: 20%;
}

.descripcion-texto-tienda{
    font-size: 1.3rem ;
}

.precio{
    font-size: 2rem ;
}





/*CLASES ESPECIFICAS PARA CADA SECTION*/

    .terrario-jar{
    flex-direction: column;
}

    .terrario-jug{
    flex-direction: column;
}

    .terrario-low-vase{
    flex-direction: column;
}

    .terrario-cylinder{
    flex-direction: column;
}
}


@media screen and (max-width:550px){



/*  DESCRIPCION-TIENDA  */



    .descripcion-tienda h3{
    font-size: 40px ;
    font-weight: 30px;
}

    .descripcion-tienda a{
    font-size: 1.5rem;
    width: 20%;
}

    .descripcion-texto-tienda{
    font-size: 1rem ;
}

    .precio{
    font-size: 1.5rem ;
}
}


/*GALERIA*/



@media screen and (max-width: 1650px){




/*-----------------IMAGENES-GALERIA-------------*/



    .galeria-contenedor-padre{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}




/*Video demostrativo*/



    .video-demostrativo h2{
    font-size: 2.5rem;
}

    .video-demostrativo iframe{
    width: 60%;
    height: 600px;
}

}







@media screen and (max-width: 1290px){
    /*Titulo de la galeria*/ 
    
    
    .galeria-titulo div h2{
    font-size: 45px ;
    font-weight: 20px;
}

    .galeria-titulo div p{
    font-size: 10px ;
    font-weight: 7px;
}


    .galeria-titulo{
    height: 400px;
}





/*-----------------IMAGENES-GALERIA-------------*/





    .galeria-texto h2{
    font-size: 2.5rem;
    font-weight: 0.75rem;
}

    .galeria-texto p{
    font-size: 1.2rem;
    font-weight: 0.6rem;
}




/*Video demostrativo*/

    .video-demostrativo h2{
    font-size: 1.7rem;
}

    .video-demostrativo iframe{
    width: 60%;
    height: 400px;
}

}



@media screen and (max-width: 1000px){

/*-----------------IMAGENES-GALERIA-------------*/



    .grid-galeria{

    display: grid;
    grid-template-rows: 400px 430px 400px 430px 460px;
}


    .video-no-ampliado{
    grid-column: 1 / 4;
}

    .imagen-colum2{
    grid-column: 1 / 4;
}

}


@media screen and (max-width: 800px){

    /*-----------------IMAGENES-GALERIA-------------*/
    
        .galeria-titulo div h2{
        font-size: 30px ;
        font-weight: 10px;
    }
    
        .galeria-titulo div p{
        font-size: 10px ;
        font-weight: 7px;
    }
    
    
        .galeria-titulo{
        height: 350px;
    }
    
    
    
    
    
    /*-----------------IMAGENES-GALERIA-------------*/
    
    
    
    
    
        .galeria-texto h2{
        font-size: 2rem;
        font-weight: 0.5rem;
    }
    
        .galeria-texto p{
        font-size: 0.9rem;
        font-weight: 0.4rem;
    }
    
        .grid-galeria{
        display: grid;
        grid-template-rows: 350px 350px 350px 350px 350px;
    }
    
    
    /*Video demostrativo*/
    
        .video-demostrativo h2{
        font-size: 1.2rem;
        font-weight: 1.2rem;
    }
    
        .video-demostrativo iframe{
        width: 60%;
        height: 300px;
    }
    
    }
    
    
    @media screen and (max-width: 600px){

        /*-----------------IMAGENES-GALERIA-------------*/
        
        
        .galeria-titulo{
            height: 250px;
        }
        
        .galeria-texto h2{
            font-size: 1.5rem;
            font-weight: 0.5rem;
        }
        
        .galeria-texto p{
            font-size: 0.9rem;
            font-weight: 0.4rem;
        }
        
        .grid-galeria{
            display: grid;
            grid-template-rows: 200px 200px 200px 200px 200px;
        }
        
        
        /*Video demostrativo*/
        
        .video-demostrativo h2{
            font-size: 0.9rem;
            font-weight: 0.9rem;
        }
        
        .video-demostrativo iframe{
            width: 60%;
            height: 200px;
        }
        
        }




/*TRABAJA CON NOSOTROS*/




@media screen and (max-width: 1100px){
    
    
    
    .trabaja-con-nosotros h2{
        font-size: 45px ;
    }
    
    
    .trabaja-con-nosotros p{
        font-size: 16px ;
    }
    
    
    .trabaja-con-nosotros form{
        font-size: 13px;
    }
}






/*ACERCA DE*/ 

@media screen and (min-width:920px){
    .acercade-grid-3{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "contactanos ubicacion"
        "contactanos ubicacion";
    }

}


@media screen and (max-width:920px){
    .acercade-grid-3{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-template-areas: 
        "contactanos"
        "ubicacion";
    }
    
    .contenedor-padre-acercade1{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-template-areas: 
        "imagen1"
        "texto1";
    }

    .contenedor-padre-acercade2{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-template-areas: 
        "imagen2"
        "texto2";
    }
}

@media screen and (max-width:650px){
    .acercade-grid-3{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-template-areas: 
        "contactanos"
        "ubicacion";
    }
    .contenedor-ubicacion iframe{
        width: 400px;
        height: 250px;
    }

    .acerca-de-titulo{
        height: 500px;
    }

    .acerca-de-titulo div h2{
        font-size: 45px ;
        font-weight: 20px;
    }
    
    .acerca-de-titulo div p{
        font-size: 15px ;
        font-weight: 10px;
    }


    
    .contenedor-acercade-texto1 h3{
        font-size: 1.8rem;
    }
    
    
    .contenedor-acercade-texto1 p{
        font-size: 0.9rem;
    }
    
    .contenedor-acercade-texto2 h3{
        font-size: 1.8rem;
    }
    
    
    .contenedor-acercade-texto2 p{
        font-size: 0.9rem;
    }
}



@media screen and (max-width:450px){

    .contenedor-ubicacion h3{
        font-size: 1.5rem;
    }

    .contenedor-ubicacion p{
        font-size: 0.75rem;
    }

    .contenedor-ubicacion iframe{
        width: auto;
        height: auto;
    }

}













